h2{
    font-size: 2.5rem;
    font-weight: bold;
}

.main-feature{
    margin-top: 1.5rem;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.members-list{
    li{
        cursor: pointer;
        padding: .7rem;
        border: .1rem solid white;
        display: table;
        border-radius: .3rem;
        font-size: 1.2rem;
        margin: 1.5rem 0;
        transition: .2s all linear;

        &:hover{
            background-color: white;
            color: hsl(217, 71%, 53%);
        }
    }

    .selected{
        background-color: white;
        color: hsl(217, 71%, 53%); 
    }
}

.owner-panel{
    margin-top: 1.5rem;

    h3{
        margin-bottom: 1rem;
    }
}

.manager-panel{
    margin-top: 1rem;
}

.task{
    a{
        text-decoration: none;
    }

    h4{
        font-size: 1.4rem;
    }

    .description{
        margin: 1.5rem 0;
        text-align: justify;
    }

    padding: 1rem;
    margin: 1rem 0;
    border: 3px solid #f0f0f0;
    border-radius: 4px;
    background-color: white;
    transition: .1s all linear;

    &:hover{
        background-color: darken(white, 5%);
    }
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.doing-tasks{
    background-color: hsl(204, 86%, 53%);
    color: white;

    &:hover{
        background-color: darken(hsl(204, 86%, 53%), 5%);
    }
}

.done-tasks{
    background-color: hsl(141, 71%, 48%);
    color: white;

    &:hover{
        background-color: darken(hsl(141, 71%, 48%), 5%);
    }
}