<div *ngIf="workplacement !== null">
  <h2>{{workplacement.title}}</h2>
  <p>{{workplacement.description}}</p>
  <div class="tile is-ancestor owner-panel" *ngIf="authService.currentUserValue.userId === workplacement.ownerId">
    <div class="tile is-parent">
      <article class="tile is-child notification is-warning">
        <h3>Panel właściciela</h3>
        <div class="buttons">
          <a class="button is-light" [routerLink]="[ '', {outlets: { modal: ['add-employee', idFromRoute] } } ]">
            Dodaj pracownika
          </a>
          <a class="button is-light">
            Usuń pracownika
          </a>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-ancestor main-feature">
    <div class="tile is-parent is-4">
      <article class="tile is-child notification is-info" *ngIf="workplacementService.selectedUser !== null">
        <h3>Członkowie</h3>
        <ul class="members-list">
          <li *ngFor="let member of workplacementService.currentWorkplacementsMembers" (click)="selectUser(member.userId)" [class.selected]="member.userId===workplacementService.selectedUser.userId">
            <p class="name">{{member.name}} {{member.surname}}</p>
          </li>
        </ul>
      </article>
    </div>
    <div class="tile is-parent is-8">
      <article class="tile is-child notification">
        <div *ngIf="workplacementService.selectedUser != null">
          <h3>{{workplacementService.selectedUser.name}} {{workplacementService.selectedUser.surname}}</h3>
        </div>
        <div *ngIf="canManageTasks" class="manager-panel">
          <a class="button" [routerLink]="[ '', {outlets: { modal: ['add-task', idFromRoute, workplacementService.selectedUser.id] } } ]">
            Dodaj zadanie
          </a>
        </div>
      </article>
    </div>
  </div>
</div>