<div *ngIf="workplacement !== null">
  <h2>{{workplacement.title}}</h2>
  <p>{{workplacement.description}}</p>
  <div class="tile is-ancestor owner-panel" *ngIf="authService.currentUserValue.userId === workplacement.ownerId">
    <div class="tile is-parent">
      <article class="tile is-child notification is-warning">
        <h3>Panel właściciela</h3>
        <div class="buttons">
          <a class="button is-light" [routerLink]="[ '', {outlets: { modal: ['add-employee', idFromRoute] } } ]">
            Dodaj pracownika
          </a>
          <a class="button is-light" [routerLink]="[ '', {outlets: { modal: ['delete-employee', idFromRoute] } } ]">
            Usuń pracownika
          </a>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-ancestor main-feature">
    <div class="tile is-parent is-4">
      <article class="tile is-child notification is-info" *ngIf="workplacementService.selectedUser !== null">
        <h3>Członkowie</h3>
        <ul class="members-list">
          <li *ngFor="let member of workplacementService.currentWorkplacementsMembers" (click)="selectUser(member.userId)" [class.selected]="member.userId===workplacementService.selectedUser.userId">
            <p class="name">{{member.name}} {{member.surname}}</p>
          </li>
        </ul>
      </article>
    </div>
    <div class="tile is-parent is-8">
      <article class="tile is-child notification">
        <div *ngIf="workplacementService.selectedUser != null">
          <h3>{{workplacementService.selectedUser.name}} {{workplacementService.selectedUser.surname}}</h3>
        </div>
        <div *ngIf="canManageTasks" class="manager-panel">
          <a class="button" [routerLink]="[ '', {outlets: { modal: ['add-task', idFromRoute, workplacementService.selectedUser.userId] } } ]">
            Dodaj zadanie
          </a>
        </div>
        <h4>Do zrobienia:</h4>
        <ul class="tasks">
          <li *ngFor="let task of taskService.selectedUserTasks.filter(todoFilter).sort(sortByPriority)" class="task">
            <a [routerLink]="[ '', {outlets: { modal: ['display-task'] } } ]" (click)="taskService.selectTask(task)">
              <h4>{{task.title}}</h4>
              <p><b>{{task.priority | priority}} priorytet</b></p>
              <p class="description">
                {{task.description}}
              </p>
              <p><b>Zadane przez: {{task.addedBy.name}} {{task.addedBy.surname}}</b></p>
              <p><b>Dodano: {{task.addDate | date:'dd-LL-yyyy HH:mm'}}</b></p>
            </a>
          </li>
        </ul>
        <h4>W trakcie pracy:</h4>
        <ul class="tasks">
          <li *ngFor="let task of taskService.selectedUserTasks.filter(doingFilter).sort(sortByPriority)" class="task doing-tasks">
            <a [routerLink]="[ '', {outlets: { modal: ['display-task'] } } ]" (click)="taskService.selectTask(task)">
              <h4>{{task.title}}</h4>
              <p><b>{{task.priority | priority}} priorytet</b></p>
              <p class="description">
                {{task.description}}
              </p>
              <p><b>Zadane przez: {{task.addedBy.name}} {{task.addedBy.surname}}</b></p>
              <p><b>Dodano: {{task.addDate | date:'dd-LL-yyyy HH:mm'}}</b></p>
            </a>
          </li>
        </ul>
        <h4>Zrobione: </h4>
        <ul class="tasks">
          <li *ngFor="let task of taskService.selectedUserTasks.filter(doneFilter).sort(sortByPriority)" class="task done-tasks">
            <a [routerLink]="[ '', {outlets: { modal: ['display-task'] } } ]" (click)="taskService.selectTask(task)">
              <h4>{{task.title}}</h4>
              <p><b>{{task.priority | priority}} priorytet</b></p>
              <p class="description">
                {{task.description}}
              </p>
              <p><b>Zadane przez: {{task.addedBy.name}} {{task.addedBy.surname}}</b></p>
              <p><b>Dodano: {{task.addDate | date:'dd-LL-yyyy HH:mm'}}</b></p>
            </a>
          </li>
        </ul>
      </article>
    </div>
  </div>
</div>