<div>
    <h1>
      <span class="color-one">Company</span>
      <span class="color-two">Task</span>
      <span class="color-three">Manager</span>
    </h1>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="companytaskmanagernavigation" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Strona główna
            </a>
            <a *ngIf="authService.isUserLoggedIn()" href="/dashboard" class="navbar-item">
              Dashboard
            </a>
          </div>
          <div class="navbar-end" *ngIf="authService.isUserLoggedIn()">
              <div class="navbar-item has-dropdown  is-hoverable">
                  <a class="navbar-link">
                    {{authService.currentUserValue.username}}
                  </a>
                
                  <div class="navbar-dropdown">
                    <a class="navbar-item" (click)="authService.logout()">
                      Wyloguj się
                    </a>
                  </div>
                </div>
          </div>
          <div class="navbar-end" *ngIf="!authService.isUserLoggedIn()">
              <div class="buttons">
                  <a class="button is-primary" href="register">
                    <strong>Zarejestruj się</strong>
                  </a>
                  <a class="button is-light" href="login">
                    Zaloguj się
                  </a>
                </div>
          </div>
        </div>
    </nav>
</div>
