.member{
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.3rem;
    margin: 1rem;
    cursor: pointer;
}

.selected{
    background-color: gray;
    color: white;
}