<div class="tile is-ancestor">
  <div class="tile is-parent is-4">
    <article class="tile is-child notification is-primary">
      <h2>Menu</h2>
      <ul class="menu-options">
        <li>
          <a href="/add-workplacement">Dodaj miejsce pracy</a>
        </li>
        <li>
          <a href="/add-workplacement">Dodaj miejsce pracy</a>
        </li>
      </ul>
    </article>
  </div>
  <div class="tile is-parent is-8">
    <article class="tile is-child notification">
      <h2>Lorem ipsum</h2>
    </article>
  </div>
</div>