h2{
    font-size: 2rem;
    font-weight: bold;
}

.login-form-container{
    width: 35rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.field{
    margin: 2rem 0;
}

@media (max-width: 750px){
    .login-form-container{
        width: 85%;
        margin: 0 auto;
    }
}